<div id="homepage">
  <ul class="nav">
    <li><a href="#">SOAP</a></li>
    <li><a href="#">OILS</a></li>
    <li><a href="#">CANDLES</a></li>
    <li><a href="#">ABOUT</a></li>
  </ul>
  <br>
  <div class="container" id="welcome">
    <h1 align="center"><%= image_tag("line45.png") %></h1>
  </div>
  <br>
</div>
