<div id="spree-header">
  <div class="container" align="center">
    <%= link_to(image_tag("logo/line45.png", style:"height: 40px; width: 90px; margin-left:50px; margin-top:20px;"), root_path) %>
  </div>
  <a href="products">SHOP</a>
  <a href="/search"><span class="glyphicon glyphicon-search"></span></a>
  <!-- cart -->
  <a <%= render partial: 'spree/shared/main_nav_bar' %></a>
</div>
