<nav class="navbar navbar-dark col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav align-items-center d-flex flex-column flex-sm-row navbar-right w-100 justify-content-start justify-content-md-end" data-hook>

    <!-- this is somehow the account login and logout -->
    <li id="search-bar" data-hook>
    </li>
  </ul>
</nav>
