<div>
  <%= image_tag "soapholder.jpg", style:"width: 100%; padding-bottom:100px;" %>
</div>




<!-- displays all products -->
<!-- <div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div> -->
