
<div id="homepage">
  <br>
    <h1><%= image_tag("logo/line45.png") %></h1>
  <br>
</div>


<!-- displays all products -->
<!-- <div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div> -->
