<% @body_id = 'home-page' %>
<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<% end %>

<div class="nav">
  <div class="dropdown">
    <button class="dropbtn">SHOP
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">SOAP</a>
      <a href="#">OILS</a>
      <a href="#">CANDLES</a>
    </div>
  </div>
  <li><a href="/about">ABOUT</a></li>
</div>

<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <%= render partial: 'spree/shared/products', locals: { products: @products } %>
  <% end %>
</div>


<div id="homepage">
  <br>
  <div class="container" id="welcome">
    <h1 align="center"><%= image_tag("line45.png") %></h1>
  </div>
  <br>
</div>
